* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  color: #333;
  font-size: 15px;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 90%; /* takes up 90% of screen */
  margin: auto;
  max-width: 1100px;
}

/* Nav */

.main-nav {
  display: flex; /* displayed in horizontal row */
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 20px 0;
  font-size: 14px;
}

.main-nav .logo {
  width: 110px;
}

.main-nav ul {
  display: flex;
}

.main-nav ul li {
  padding: 0 10px;
}

.main-nav ul li a {
  padding-bottom: 2px;
}

.main-nav ul li a:hover {
  border-bottom: 2px solid #333; /* underline effect on hover */
}

.main-nav ul.main-menu {
  flex: 1;
  margin-left: 20px;
}

/* Showcase & Button */

.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #000;
  color: #ffffff;
  font-size: 16px;
}

.btn:hover {
  opacity: 0.9;
  background: #ccc;
}

.showcase {
  width: 100%;
  height: 400px;
  background: url('img/apple.jpg') no-repeat center center/cover; /*background repeat property, background postion, & background size */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end; /*pushes text to bottom of showcase img */
  padding-bottom: 50px;
  margin-bottom: 20px;
}

.showcase h2 {
  margin-bottom: 160px;
}

.showcase p {
  margin-bottom: 4px;
}

.showcase .btn {
  margin-top: 20px;
}

/* 1st cards */
.home-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-bottom: 40px;
}

.home-cards img {
  width: 100%;
  margin-bottom: 20px;
}

.home-cards h3 {
  margin-bottom: 5px;
}

.home-cards a {
  display: inline-block;
  padding-top: 10px;
  color: #0067b8;
  text-transform: uppercase;
  font-weight: bold;
}

.home-cards a:hover {
  color: #333;
}

.home-cards a:hover i {
  margin-left: 10px;
  color: #333;
}

/* Arcade */
.arcade {
  height: 350px;
  width: 100%;
  background: url('img/arcade.jpg') no-repeat center center/cover;
  margin-bottom: 20px;
}

.arcade .content {
  width: 40%; /* keeps content closer to left & contained to one side */
  padding: 50px 0 0 30px;
}

.arcade h2, .carbon h2 {
  color: #ffffff;
  text-decoration: underline;
  font-weight: 800;
}

.arcade p, .carbon p {
  margin: 10px 0 20px;
  color: #ffffff;
}

/* Carbon Section */

.carbon {
  width: 100%;
  height: 350px;
  background: url('img/carbon.jpg') no-repeat center center/cover; /*background repeat property, background postion, & background size */
}

.carbon .content {
  width: 55%;
  padding: 100px 0 0 30px;
}

/* Social Media */

.follow {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* will be alinged at the Beginning */
  margin: 30px 0 30px;
}

.follow * {
  margin-right: 10px;
}

/* Footer & other Important Links */
.links {
  background: #f2f2f2;
  color: #616161;
  font-size: 12px;
  padding: 35px 0;
}

.links-inner {
  max-width: 1100px;
  margin: 0 auto; /* centered */
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 columns */
  grid-gap: 10px;
  align-items: flex-start;
  justify-content: center;
}

.links li {
  line-height: 2.8;
}

.links h3 {
  line-height: 2.8;
  text-decoration: underline;
  font-weight: bold;
  color: #000;
}

.links li a:hover {
  text-decoration: underline;
}

.footer {
  background: #f2f2f2;
  color: #000;
  font-size: 12px;
  padding: 20px 0;
}

.footer-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer div {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.footer div i {
  margin-right: 10px; /* Gives space between Icon & footer text */ 
}

.footer ul {
  display: flex;
  flex-wrap: wrap; /* keeps elements from going outside page, will stack on top of each other */
}

.footer li {
  margin-right: 30px;
  margin-bottom: 20px;
}
